.App {}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/*********Custom CSS Properties ****/

.pagewrapper {
    margin-top: 50px
}

.inputLabel {
    font-family: 'Roboto';
    font-size: 12px;
}

.inputwrapper {
    display: 'flex';
    /*background-color : green*/
    /*margin-left: 20%;*/
    flex-direction: column;
}

.hintStyle {
    color: rgba(213, 211, 211, 0.8);
    font-size: 12px;
}

.buttonBlock {
    display: flex;
    /*margin-left: 20%;*/
    /*align-items: flex-end;*/
    margin-top: 20px;
    /*background-color: red;*/
    float: right
}

.buttonDisabled {
    background-color: lightslategrey;
    color: white
}


/********Site Settings****/

.site_settings_wrapper {
    margin-top: 50px
}

.segment_headder {
    color: #00ACC1;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-bottom: 2px
}

.filter_label_title {
    font-size: 12px;
    font-weight: 500;
    padding-top: 15px
}

.tag_label_title {
    font-size: 12px;
    font-weight: 500;
}

.maxcard_title {
    font-size: 12px;
    font-weight: 500;
}